:root {
  --secondary-color: #FDE1B9;
  --delete-color: #A72A2A;
  --primary-color-700: #522B1D;
  --primary-color-600: #623425;
  --primary-color-550: rgba(122, 67, 48, 0.5);
  --primary-color-500: #7A4330;
  --primary-color-400: #A75F46;
  --primary-color-300: #A16855;
  --accent-color-600: #AE692B;
  --accent-color-500: #D69458;
  --accent-color-400: #EEB27B;

  --dark-color: #231F1F;
  --background-color: #FFFAF5;
  --white-color: #FFFFFF;
  --black-color: #161414;
}

:root {
  --nunito: "Nunito", sans-serif;
  --sa-long-beach: "SA-Long-Beach", sans-serif;
}